<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="/">{{site_name}}</a></h1>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="/" accesskey="1" title="">Главная</a></li>
                    <li><a href="/its_me" accesskey="2" title="">Обо мне</a></li>
                    <li><a href="/jobs" accesskey="3" title="">Моя работа</a></li>
                    <li><a href="/test" accesskey="4" title="">Тест: места работы</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>