{% extends 'main.html' %}
{% block content %}


<div id="page-wrapper">
    <div id="page" class="container">
        <div class="title">
            <h2 align="center">{{list_name}} </h2>
        </div>
    </div>
</div>


<div id="wrapper">
    <div id="three-column" class="container">
        <div><span class="arrow-down"></span></div>
        <p>Расскажу немного о себе...</p>
        <p>Родился и вырос в Тульской области, был самым обычным ребенком: Играл в футболл, гулял, учился прилежно.
            Школу заканчивал в Москве, после, очень долго не мог определить, чего же хочу.</p>
        <p>В итоге, закончил экономический университет. По мере моего взросления менялись привычки и увлечения, но к
            счастью, они всегда были "правильными".
            Всегда любил фотографировать, вот и хобби у меня соответствующее... Частенько выбираюсь куда нибудь со своей
            зеркалкой, снимаю пейзажи, панорамы, людей - прохожих, не люблю студийное фото...
            Так же моим хобби являются компьютеры и все что с ними связано, из этого даже получилось сделать работу
            несмотря на экономическое образование.
            Люблю почитать, погулять в хорошей компании. Любитель и поиграть в online игры, посмотре аниме, побрынчать
            на гитаре, и самое мое любимое - поспать)))</p>
        <p>Ох, чуть не забыл... В детстве всегда мечтал кататься на роликах, но все время что то не складывалось. Как
            правило, не было подходящих дорог.
            И вот, когда уже начал сам работать и жить в Москве - я встал и поехал.
            Люблю катание на равне с "поспать", такое приятное чувство, когда ты взял и проехал почти через весь город
            на роликах, особенно если едешь в компании единомышленников.
            Тут и пофотографировать есть что, и привал с пикником устроить приятно, да и тренировка хорошая (еще бы,
            после 30-40 км на ногах по городу)
            В общем, люблю все по немногу...</p>
        <img src="static/img/i_roll.jpg" alt='Собственно, я' width=900 height=700 )>
        <p>А вообще, из меня писатель не очень - лучше при знакомстве все расскажу ;)</p>
    </div>
 <!--   {%include 'inc-portfolio.html'%}-->
</div>


<br>
<div style="height:78px; width:512px;  margin: auto; background-color:#EDEDED;
border-left:4px solid #8B8B8B;" align="center">
    <q>Нет без явно усиленного трудолюбия ни талантов, ни гениев.</q>
    <p align="right"><sub>Менделеев Д.И.</sub></p>
</div>
</p>

</div>
</div>
{% endblock %}