{% extends 'main.html' %}
{% block content %}


<div id="page-wrapper">
    <div id="page" class="container">
        <div class="title">
            <h2 align="center">{{list_name}} </h2>
        </div>
    </div>
</div>


<div id="wrapper">
    <div id="three-column" class="container">
        <div><span class="arrow-down"></span></div>
        <i>И немного о работе...</i>
        <p>Хотя у меня и экономическое образование, но моя работа и карьера связана с экономикой лишь косвенно.
            Работать я начал еще в студенческие годы. Первые ступени карьеры были самыми обыденными... Курьер, продавец
            консультан в интернет магазине и т.д.</p>
        <p>Как то попал в отдел телемаркетинга по продаже интернет услуг и IP- телевидения в компании Beeline. Там
            умудрился пройти ряд курсов о переговорам и получить бумажку.
            Затем был отдел телемаркетинга в одном из банков, но там я проработал не долго.
            Потом опять был колл-центр интернет провайдера, где нас переквалифицировали в первую линию тех
            поддержки.</p>
        <p>Получив новые знания, я перешел к другую организацию, которая занималась аутсорсинговой поддержкой лечебных
            кабинетов лаборатории CMD при НИИ Эпидемиологи.
            Тут я начал активно изучать и вникать в sql, xml, delphi и немного java...
            Спустя какое то врямя, в той же организации перешел в отдел внедрения и сопровождения Лабораторной
            Информационной Сетии.
            Тут активно приобретал опыт внедрения Лабораторных систем, параллельно с этим узнал о языке Python и начал
            активно его учить...</p>
        <p>Навыки программирования мне пригодились довольно скоро, моим следующим и текущем местом работы стала работа
            на Сбербанк.
            Отныне "Ваш покорный слуга" трудится над внедрением и сопровождением Сбербанк-онлайн. Для этого пришлось
            существенно подтянуть знания по многим вещам, таким как oracle sql, сетям, html, js, xslt, и значительно
            углубиться по знаниям в java.
            Хотя я и не кодер, но баги выискивать приходится напрямую в том, что написали разработчкики, и в случае
            острой необходимости, можем внести изменения самостоятельно.</p>

    </div>
 <!--   {%include 'inc-portfolio.html'%}-->
</div>
<br>
<br>
<br>
<div style="height:78px; width:512px;  margin: auto; background-color:#EDEDED;
border-left:4px solid #8B8B8B;" align="center">
    <q>Нет без явно усиленного трудолюбия ни талантов, ни гениев.</q>
    <p align="right"><sub>Менделеев Д.И.</sub></p>
</div>
</p>

</div>
</div>


{% endblock %}